.container {
  max-width: 800px;
  margin: 0 auto;
  background: #f6f6ef;

  nav {
    background: #f60;
    padding: 1em;

    a {
      text-decoration: none;
    }

    & > * {
      display: inline-block;
      color: black;
    }
  }

  &__maintitle {
    font-weight: bold;
  }
}

.back_button {
  font-size: 0.9rem;
  padding-right: 1em;
  cursor: pointer;
}
